@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
.wr1{
  width: 100%;
 position: relative;
}
.wr2{
  width: 100%;
 position: relative;
}
.swiper {
  margin-top: 50px;
  width: 90%;
  height: 100%;
}

.wrapper1 {
  width: 0%;
  height: 500px;
  position: relative;
}

.wrapper2 {
  width: 100%;
  height: 500px;
}
.wrapper3 {
  margin-top: 50px;
  width: 100%;
  height: 500px;
}
.wrapper4 {
  margin-top: 50px;
  width: 0%;
  height: 500px;
}
.rat1{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rat2{
  padding-right: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.smcards {
  width: 95%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
  margin-bottom: 100px;
}
.gfcards {
  width: 212px;
  height: 212px;
 
}

div.gfcards:hover{
    animation: myAnim 1s ease 0s 1 normal forwards;
    
}
.gfcards a img {
  width: 212px;
  height: 212px;
}
.ticket svg{
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10000;
  filter: drop-shadow(5px 5px 10px #000000);
}